<div class="row ">
  <div class="text-truncate col-2 mb-1   ">
    <p class="chart-title"><strong>Period</strong></p>

  </div>
  <div class="text-truncate col-4 mb-1 ">
    <p class="chart-title"><strong>Today's Class</strong></p>
  </div>
  <div class="text-truncate col mb-1 ">
    <p class="chart-title"><strong>Homework</strong></p>

  </div>
  <div class="text-truncate col mb-1 ">
    <p class="chart-title"><strong>Next Class</strong></p>
  </div>
  <div class="text-truncate col-1 mb-1 ">
    <p class="chart-title"><strong>Teacher</strong></p>
  </div>
</div>
