<div class="row pt-2" style="">
  <div class="text-truncate col-2 ms-2 mb-0" style="width: 120px">
    <p class="chart-title"><strong>Period</strong></p>

  </div>
  <div class="text-truncate col mb-0 ms-4">
    <p class="chart-title "><strong>Today's Class</strong></p>
  </div>
  <div class="text-truncate col-3 mb-0 ms-3">
    <p class="chart-title ps-5"><strong>Homework</strong></p>

  </div>
  <div class="text-truncate col mb-0 ms-4">
    <p class="chart-title ps-5"><strong>Next Class</strong></p>
  </div>
  <!-- <div class="text-truncate col-2 mb-0 ms-0 ps-2">
    <p class="chart-title ps-5 ms-5"><strong>Teacher</strong></p>
  </div> -->
</div>
