<div class="col-xl-2 col-lg-2 col-auto text-white sidebar bg-black min-vh-100" style="color: #f8f9fa">
  <div class="row g-0 flex-nowrap sticky-top sticky-top-side">
    <div class="col-lg-9 col-auto">
      <div id="fullmenu" class="navbar-collapse collapse flex-column align-items-start h-auto sidenav">
        <a class="nav-link py-3" href="#navTop">Home</a>

        <a class="nav-link py-3 " href="#sectionReports">Daily Reports</a>
        <a class="nav-link py-3" href="#sectionInbox">Inbox</a>
        <a class="nav-link py-3" href="#sectionPremiums">Schedule</a>
        <a class="nav-link py-3" href="#sectionAlerts">Teachers</a>
        <a class="nav-link py-3" href="#sectionDetections">Class Directory</a>
        <!-- <a class="nav-link py-3" href="#modalLogin" data-bs-toggle="modal">Integrations</a>
                  <a class="nav-link py-3" href="#modalLogin" data-bs-toggle="modal">Customers</a>
                  <a class="nav-link py-3" href="#modalLogin" data-bs-toggle="modal">Orders</a> -->
        <a class="nav-link py-3" href="#modalLogin" data-bs-toggle="modal">Settings</a>
      </div>
    </div>
    <div class="col text-center">
      <div class="sidenav">
        <a class="nav-link py-2" href="#navTop"><i class="ms-auto mdi mdi-home-outline"></i></a>

        <a class="nav-link py-2" href="#sectionReports"><i class="ms-auto mdi mdi-file-document-box-outline"></i></a>
        <a class="nav-link py-2" href="#"><i class="ms-auto mdi mdi-mailbox"></i></a>
        <a class="nav-link py-2" href="#"><i class="ms-auto mdi mdi-calendar-clock"></i></a>
        <a class="nav-link py-2" href="#"><i class="ms-auto mdi mdi-google-classroom"></i></a>
        <a class="nav-link py-2" href="#"><i class="ms-auto mdi mdi-view-list"></i></a>
        <!-- <a class="nav-link py-2" href="#modalLogin" data-bs-toggle="modal"><i class="ms-auto mdi mdi-palette-swatch"></i></a>
                  <a class="nav-link py-2" href="#modalLogin" data-bs-toggle="modal"><i class="ms-auto mdi mdi-account-search-outline"></i></a>
                  <a class="nav-link py-2" href="#modalLogin" data-bs-toggle="modal"><i class="ms-auto mdi mdi-bus-clock"></i></a> -->
        <a class="nav-link py-2" href="#modalLogin" data-bs-toggle="modal"><i class="ms-auto mdi mdi-settings-outline"></i></a>
      </div>
    </div>
  </div>
</div>
