
body {
    overflow-x: hidden;
    padding-top: 55px;
    /* background-color: #f6f6f6;
    background-color: #232930; */

    /* background-color: blue; */
    background-color: white;
}

p {
  font-size:1vw
}

#overlay {
  position: relative;
  display: block;
  /* width: 100%;
  height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 0;
  cursor: pointer;
}

.teacher-header {
  color: white;
}
.btn {
  border-width: 0px;
}

.border-g {
  border-color: red;

}
.chart-title {
  white-space: nowrap;
}

.bg-black {
  /* side bar background color */
    background-color: #70cbd0;
    /* background-color: purple; */

}
.bg-navy {
  background-color: #42C2FF;
}

.bg-orange {
  background-color: #FF9F45;
}
.bg-gray {
  background-color: #EFEFEF;
}

.sticky-top-side {
    top: 100px;
}

.navbar .mdi {
  color: #70cbd0;
  font-size: 26px;

}


.sidebar .mdi {
    font-size: 26px;
    /* colors the sidebar link icons */
    color: white;
}

.sidenav .nav-link {
    width: 100%;
    /* colors the sidebar text */
    color: white;

}

.sidenav .nav-link.active {
    background-color: #f8f9fa;
}



.bg-light {
    background-color: rgba(200,200,200,0.1) !important;
}

.text-green {
  color: #70cbd0;
}

.daily-report-textarea {
  height:100%;
  width:100%;
  background-color: transparent;
  overflow: visible;
  display: inline;
  resize: none;
  border-color:transparent;
  outline: none
}

.daily-report-form {
  height:100%;
  width: 100%;
  display: inline;
}
